.web-preview-container {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 10px;
}

.input-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.web-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.preview-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.link-preview {
  margin-top: 10px;
}

.button-group {
  margin-top: 20px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
  background-color: #fec701;
}

.submit-button:hover {
  border-color: #fec701;
  border: 1px solid #fec701;
  color: black;
  background: transparent;
}
