.route_container {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.right_container {
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full_width {
  width: 100vw;
}
